<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hanium.SMath">

    <application
        android:label="mathgame"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Kakao 로그인 커스텀 URL 스킴 설정 -->
        <activity 
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true"
            tools:replace="android:exported"
            android:excludeFromRecents="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao1234567890://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- Kakao 로그인 Redirect URI -->
                <data android:scheme="kakao1234567890" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- Meta-data for Google Sign-In -->
        <!--
        <meta-data
            android:name="com.google.android.gms.appid"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->

        <!-- 주석 처리된 ADMOB APP ID, FCM NOTIFICATION ICON & COLOR, GOOGLE MAPS KEY -->
        <!--
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        -->
        
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        
        <!-- Activity for Google Sign-In -->
        <activity 
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="true"
            tools:replace="android:exported"
            android:excludeFromRecents="true" />
        
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
<intent-filter>
   <action android:name="android.intent.action.VIEW" />
   <category android:name="android.intent.category.DEFAULT" />
   <category android:name="android.intent.category.BROWSABLE" />
   <data
       android:host="arandom.page.link"
       android:scheme="https" />
</intent-filter>
        </activity>

        <!-- Flutter Tool Metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
